<div class = "center jumbotron">
  <h1>Welcome to Togehter</h1>
  
  <h2>
    Togehter is here for us all, from beinner to Champion level. Together we can help push to Our limts 
    and reach new levels of fitness, nutrition, and alethletics. This is all possible with everyone who is
    on Together. So what are you waiting for? 
  </h2>
  
  <%= link_to "Sign up now!", "", class: "btn btn-lg btn-sucess" %>
</div>
<div class="row">
  <div class="col-lg-4">
    <h3 class="midrow">
      View as Guest User
    </h3>
    <h2 class="left">Browse and view around as a Guest and Sign up later</h2>
    <p><%= link_to "Browse Fitness listings", "", class: "btn btn-warning btn-small" %></p>
  </div>
    <div class="col-lg-4">
    <h3 class="midrow">
      View as Guest User
    </h3>
    <h2 class="left">Browse and view around as a Guest and Sign up later</h2>
    <p><%= link_to "Browse Fitness listings", "", class: "btn btn-warning btn-small" %></p>
  </div>
    <div class="col-lg-4">
    <h3 class="midrow">
      View as Guest User
    </h3>
    <h2 class="left">Browse and view around as a Guest and Sign up later</h2>
    <p><%= link_to "Browse Fitness listings", "", class: "btn btn-warning btn-small" %></p>
  </div>
</div>